<%= title("Sign Up") %>
<div class="row" id="signup">

  <div class="span7 offset2 signup-title">
    <h1>Register your account</h1>
  </div>

  <div class="span4 offset2 social-form">
    <p class="lead"> Register with a service </p>
    <%= render "devise/shared/social" %>
  </div>

  <div class="span5 ">
    <div class="email-form">
      <p class="lead"> Register with email </p>
      <%= simple_form_for(resource, :as => resource_name,
                          :url => registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :name, label: false, placeholder: 'Name', :autofocus => true%>
        <%= f.input :email, label: false, placeholder: 'Email' %>
        <% if f.object.password_required? %>
          <%= f.input :password, label: false, placeholder: 'Password'%>
          <%= f.input :password_confirmation, label: false,
                      placeholder: 'Password Confirmation'%>
      <% end %>
      </div>

      <div>
        <%= f.button :submit, value: "Register your account",
                     class: " btn btn-large btn-success" %>
      </div>
    <% end %>
    </div>
  </div>
</div>
