<%= title("Sign Up") %>
<div class="row">
  <div class="span6 offset3">
    <div id="form-signup">
      <h3>Create your account</h3>
      <hr class='small'></hr>
      <%= simple_form_for @user,:html => { class: "" } do |f| %>
        <%= f.error_notification :message => "Something went wrong" %>
        <%= f.input :name, label: false, placeholder: 'Name'%>
        <%= f.input :email, label: false, placeholder: 'Email' %>
        <%= f.input :password, label: false, placeholder: 'Password'%>
        <%= f.input :password_confirmation, label: false, placeholder: 'Password Confirmation'%>
        <%= f.button :submit, value: "Create Account", class: " btn-large btn-success" %>
    <% end %>
    </div>
  </div>
</div>
