<% if signed_in? %>
  <div class="sidebar-widjet">

    <div class="accordion-toggle widjet-head" data-toggle="collapse" data-target="#favs" >
      <span>Favorites List</span>
      <label class="badge badge-important ">
        <%= properties.size %> of <%= current_user.favorites.size %>
      </label>
      <b class="caret-category"></b>
    </div>

    <div class="favorite-list collapse in" id="favs" >
      <div class="widjet-entries" id="favorites">
        <ul class="stacked">
          <% properties.each do |property| %>
          <li>
          <%= link_to property_path(property) do %>
            <%= image_tag thumbnail(property, :small) %>
          <%= property.category %> <%= property.price %> $
          </li>
          <% end %>
        <% end %>
        </ul>

        <div id="compare-list-actions">
          <%= link_to "Show All Favorites", favorites_properties_path,
            class: "btn btn-small btn-info" %>
          <%= link_to "Clear list", favorites_properties_path, method: "delete",
            class: "btn btn-small btn-danger" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
