<div class="row">
  <div class="span9">
    <section>
      <ul class="thumbnails">
        <% @properties.each do |property| %>
        <li class="span3">
          <%= link_to property_path(property) do %>
            <div class="thumbnail listing-thumb">
            <%= image_tag thumbnail(property, :medium) %>
          <% end %>
            <div class="info">
              <h5><%= summary(property) %>
                <small> <%= property.floor_size %> m²</small>
                <span id="price" class="label label-success">
                <%= property.price %> $
                </span>
              </h5>
              <p>
                <%= property.city %> <%= property.street %> -
                <%= property.bedroom %> Rooms
              </p>
              <%= link_to "Marks as favorite",
              favorites_properties_path(id: property),
              method: "post" %>
            </div>
          </div>
        </li>
        <% end %>
      </ul>
    </section>
  </div>
</div>
