<%= title("Listings")%>

<div class="results">
  <%= property_search_results(@properties) if params[:search].present? %>
  <h3 class="text-right">
    Showing <%= @properties.count %> of <%= @properties.total_count %> results
  </h3>
</div>
<div class="row">
  <div class="span9">
    <div class="listings">
      <div class="row">
        <div class="span9">
          <ul class="thumbnails">
          <% @properties.each do |property| %>
            <li class="span3">
            <%= link_to property_path(property) do %>
              <div class="thumbnail">
                <%= image_tag thumbnail(property) %>
              <% end %>
              <div class="info">
                <h5><%= summary(property) %>
                <small> <%= property.floor_size %> m²</small>
                  <span id="price" class="label label-success">
                    <%= property.price %> $
                  </span>
                </h5>
                <p>
                <%= property.city %> <%= property.street %> -
                <%= property.bedroom %> Rooms
                </p>
                <%= link_to "Marks as favorite",
                  favorite_property_path(property, type: "favorite"),
                  method: "post" %>
              </div>
            </div>
          </li>
            <% end %>
        </ul>
        <%= paginate @properties %>
        </div>
      </div>
    </div>
  </div>
  <div class="span3 search_form">
    <div class="well" id="filter" >
      <%= form_tag properties_path, method: :get, name: :search do %>
        <%= text_field_tag "search[query]", (params[:search][:query] if params[:search]) %>
        <%= submit_tag "Quick Search", name: nil %>
        <h4>Filter By category</h4>
        <% %w{ Apartment Condo Land Duplex Triplex House }.each do |type| %>
          <%= check_box_tag "search[types][]", type,
              (params[:search][:types].try(:include?,type) if params[:search]),
              id: type, class: "inline" %>
        <%= label_tag "property[types][]", type, class: "" %></br>
        <% end %>
        <h5>Price</h5>
        <%= search_field_tag("search[price_from]",
                             (params[:search][:price_from] if params[:search]),
                             placeholder: 'from') %> -
        <%= search_field_tag("search[price_to]",
                             (params[:search][:price_to] if params[:search]),
                             placeholder: 'to') %>
        <h5> Bedrooms </h5>
        <%= search_field_tag("search[bedrooms_from]",
                             (params[:search][:bedrooms_from] if params[:search]),
                             placeholder: 'from') %> -
        <%= search_field_tag("search[bedrooms_to]",
                             (params[:search][:bedrooms_to] if params[:search]),
                             placeholder: 'to') %>
        <h5> Floor Size </h5>
        <%= search_field_tag("search[floor_size_from]",
                             (params[:search][:floor_size_from] if params[:search]),
                             placeholder: 'from') %> -
        <%= search_field_tag("search[floor_size_to]",
                             (params[:search][:floor_size_to] if params[:search]),
                             placeholder: 'to') %>
        <p>
        <%= submit_tag "Filter", name: nil, class: 'btn btn-medium btn-success' %>
        <a href="#" class="btn btn-medium btn-danger">Reset</a>
        </p>
      <% end %>
    </div>
  </div>
</div>
