<%= title("Listings")%>

<div class="main row">

  <aside class="span3 search_form">
    <%= render 'search_form' %>
    <%= render 'compare_list' %>
    <%= render 'favs' %>
  </aside>

  <div class="span9">
    <div class="listings">

      <div class="results-panel">
        <div class="results">
            showing <%= @properties.count %> of <%= @properties.total_count %> results
        </div>
        <% if params[:search].present? %>

        <div class="results-options">
          <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              Sort By
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Price: Highest first', params.merge(:sort => 'desc') %>
              <li><%= link_to 'Price: Lowest first', params.merge(:sort => 'asc') %>
            </ul>
          </div>
        </div>
        <% end %>
      </div>

      <div class="row">
        <div class="span9">
          <section>
            <%= render @partial %>
          </section>
        </div>
      </div>

      <div class="pagination-panel">
        <div class="results">
          Showing <%= @properties.count %> of <%= @properties.total_count %> results
        </div>
        <%= paginate @properties %>
      </div>

    </div>
  </div>
</div>
