<%= title "Sign in" %>
<div class="row">
  <div class="span6 offset3">
    <div id="form-login">
      <h3>Log in into your account </h3>
      <hr class='small'></hr>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
        <%= f.input :email, label: false, placeholder: "Email", autofocus: true %>
        <%= f.input :password, label: false, placeholder: "Password" %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>
      <div>
        <%= f.button :submit, value: "Login" ,class: "btn btn-large btn-success" %>
      </div>
    <% end %>

      <hr class='small'></hr>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
