<header class= 'navbar navbar-static-top navbar-inverse'>
  <div class='navbar-inner'>
    <div class='container'>
      <%= link_to "Real Estate", root_path, class: "brand", id: "logo" %>
      <nav>
        <ul class='nav'>
          <li><%= link_to "Properties", properties_path %>
        <ul class='nav pull-right'>
            <li class="divider-vertical"></li>
        </ul>
          <% if signed_in? %>
            <li><%= link_to "Sign Out", sign_out_path %>
          <% else %>
            <li><%= link_to "Sign Up", new_user_path %> </li>
            <li><%= link_to "Login", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
