<header class='navbar navbar-static-top' id="topbar">
  <div class='navbar-inner'>
    <div class='container'>
      <%= link_to "Katikia", root_path, class: "brand", id: "logo" %>
      <nav>
        <ul class='nav'>
          <li><%= link_to "Properties", properties_path %>
          <li><%= link_to "New Property", new_property_path %>
      </ul>
        <ul class='nav pull-right'>
          <li class="divider-vertical"></li>
          <% if signed_in? %>
          <li><%= link_to "Sign Out", sign_out_path %>
          <% else %>
          <li><%= link_to "Sign Up", new_user_path %> </li>
          <li><%= link_to "Login", signin_path %></li>
        <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
