<!DOCTYPE html>
<html>
  <head>
    <title><%= yield_or_default :title, "Real Estate" %></title>
    <meta name="description" content="<%= yield_or_default :description, "Real Estate Greece" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <%= render "layouts/header" %>
    <div id="wrap">
      <div class="content">
        <div class="main">
          <%= render "shared/flash_messages", flash: flash %>
          <%= yield %>
        </div>
      </div>
      <div id="footnotes_holder"></div>
      <div id="push"></div>
    </div>
    <%= render "layouts/footer" %>
    <%= javascript_include_tag "application" %>
    <%= yield :scripts %>
  </body>
</html>
